@import '../../styles/utils.scss';
.menu {
  font-family: 'Rajdhani';
}

.menu-item {
  border-bottom: 1px solid $oc-teal-7;
  
  p { 
    display: block;
    padding-left: 15px;
    color: $oc-teal-7;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $oc-teal-3;
      text-decoration: none;
   
    }

    &:focus {
      color: $oc-teal-3;
      text-decoration: none;
    }

  }

}



